:root {
    --primary-color: #382F90; 
    --secondary-color: "#2A36A4"
  }
  

body{
    background-color: #F5F5FB;
}

.heading-primary{
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 900;
}

.heading-secondary{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 900;
}

.paragraph-primary{
    color: #9FA2B4;
    font-size: 16px;
    font-weight: 500;
}

.card{
    padding: 40px 20px;

}

@media (min-width: 992px) { 
    .card {
      padding: 40px 80px;
    }
  }

  .form-check-label{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
  }

  .form-check-input{
    height: 18px;
    width: 18px;
    border: #C4C4C4 1px solid;
  }

  .form-label{
    color: #9FA2B4;
    font-size: 14px;
    font-weight: 700;
  }

  .form-select{
    border: #C4C4C4 1px solid;
    border-radius: 5px;
    padding: 10px;
    color: #9FA2B4;
    font-size: 14px;
    font-weight: 700;
  }

  .btn{
    background-color: var(--primary-color) ;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
  }
  .btn:hover{
    background-color: black;
    color: white;
  }